
.todo-list {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.todo-item {
    padding: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #f3f3f3;
}

.details {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    flex: 1;
}

.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
}

.todo-item:last-child {
    border-bottom: none;
}

input {
    width: 18px;
    height: 18px;
}

.close {
    cursor: pointer;
}
